* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}


.hero {
  background: url('Assets/Hero-bg.png'); 
  height: 698px;
  padding: 25px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
  align-content: center;
  margin-top: 200px;
}

.center h1 {
  font-size: 50px;
  margin-bottom: 20px;
}



.button {
  background: #5b5bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
}

.button.small {
  padding: 8px 14px;
  font-size: 12px;
}


/*.......................*/

.preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background: #f6f8fe;
  padding: 150px;
  flex-wrap: wrap;
}

.preview .text {
  max-width: 400px;
}

.preview h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.preview p {
  margin-bottom: 20px;
  color: #7e7e7e;
  font-size: 20px;
}

.preview img {
  max-width: 100%;
  border-radius: 16px;
}



/*.................*/



.stats {
  background: #e9eaff;
  padding: 50px 50px;
  text-align: center;
  border-radius: 20px;
  margin: 60px auto;
  max-width: 60%;
}

.stats h2 {
  font-size: 50px;
  margin-bottom: 40px;
  color: #222;
}

.stats-box {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.stat h3 {
  font-size: 50px;
  color: #5b5bff;
  margin-bottom: 7px;
}

.stat p {
  font-size: 20px;
  color: #666;
}





.testimonials {
  padding: 50px 50px;
  background: #f6f8fe;
  text-align: center;
}

.testimonials h2 {
  font-size: 50px;
  margin-bottom: 50px;
  color: #222;
}

.testimonial-cards {
  display: flex;
  text-align: justify;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 2px 8px #000000
  text-align: left;
}

.stars {
  color: #ffc107;
  font-size: 18px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.5;
}

.reviewer {
  display: flex;
  gap: 10px;
}
